@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Variables */
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 222.2 84% 4.9%; /* #111827 - neutral-900 */
  }

  .dark {
    /* Dark Mode Variables */
    --background: 222.2 84% 4.9%; /* #030712 - neutral-950 */
    --foreground: 0 0% 100%; /* #ffffff */
  }
}

@layer base {
  * {
    @apply border-neutral-200 dark:border-neutral-800;
  }

  body {
    /* Use the variables we defined above */
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply antialiased transition-colors duration-300;
  }
}

/* Custom Scrollbar (Optional, but looks nice on Mac) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-800 rounded-full;
}
