@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply transition-colors duration-300 antialiased;
    font-family: "Inter", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  /* For Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: #2466f2;
    border-radius: 10px;
    border: 2px solid #0a0a0a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d4bc9b;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #2466f2 #0a0a0a;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(177, 151, 119, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 151, 119, 1);
}

/* Hide the Next.js Speed Insights/Vitals bubble */
/* #vercel-speed-insights-debug,
[data-vercel-speed-insights-debug] {
  display: none !important;
}

#next-logo {
  display: none !important;
}
#devtools-indicator {
  display: none !important;
} */

@layer components {
  /* Play Button - Light Mode */
  .play-button-glow {
    box-shadow: 0 0 20px 5px rgba(17, 24, 39, 0.05);
  }

  /* Play Button  - Dark Mode */
  .dark .play-button-glow {
    box-shadow: 0 0 30px 10px rgba(36, 102, 242, 0.2);
  }
}
